{% extends "base.html" %}

{% block content %}

{% if all_statistic %}
<h5 class="text-center">Game history:</h5>
    {% for statistics in all_statistic %}
        <hr>
        {% if statistics.wins == 1%}
        <h5 class="text-center">Win</h5>
        <p class="text-center">{{ datetime.strftime(statistics.data, "%Y-%m-%d %H:%M:%S")}}</p>
        {% else %}
        <h5 class="text-center">Defeat</h5>
        <p class="text-center">{{ datetime.strftime(statistics.data, "%Y-%m-%d %H:%M:%S")}}</p>
        {% endif %}
    {% endfor %}
<hr>
{% else %}
<h5 class="text-center">Game history is empty</h5>
{% endif %}


{% endblock %}