{% extends "base.html" %}

{% block game %}


<h3 class="text-center my-3 pb-3">Welcome {{current_user.name.capitalize()}} to hangman game</h3>
<hr>
<img class="rounded mx-auto d-block" src="{{data}}">
<p class="text-center my-3 pb-3">Hint: fruits</p>
<h4 class="text-center my-3 pb-3">Question: {{hiden_word}} </h4>
<h4 class="text-center my-3 pb-3">{{answer}} </h4>
<hr>
<h4 class="text-center my-3 pb-3">{{display_unused_letters_list }}</h4>
<hr>

            <form class="form-inline justify-content-center" action="/game" method="post">
              <div class="col-5">
                <div class="form-outline">
                  <input type="text" id="name" name="name" class="form-control" placeholder="Enter a single letter"/>
                </div>
              </div>
 
              <div class="col-2">
                <button type="submit" class="btn btn-outline-primary">Enter</button>
              </div>
            </form>
            <p></p>
            <p></p>
            <a href="/give_up"><button class="btn btn-outline-primary btn-sm ">Give Up</button></a>

      

           

            
{% endblock %}