{% extends "base.html" %}

{% block content %}

{% if all_statistic %}
<h5 class="text-center">Game history:</h5>
<hr color="black" width="140">

    <h5 class="text-center">User {{current_user.name.capitalize()}}</h5>
    <h5 class="text-center">win: {{user_wins}}, defeat: {{user_defeat}} times</h5>
    <hr color="black" width="260">
    {% for statistics in all_statistic %}
        <hr>
        {% if statistics.wins == 1%}
        <h5 class="text-center">Win, {{ datetime.strftime(statistics.data, "%Y-%m-%d %H:%M:%S")}}</h5>
        {% else %}
        <h5 class="text-center">Defeat, {{ datetime.strftime(statistics.data, "%Y-%m-%d %H:%M:%S")}}</h5>
        {% endif %}
    {% endfor %}
<hr>
{% else %}
<h5 class="text-center">The {{current_user.name.capitalize()}} game history is empty</h5>
{% endif %}
 

{% endblock %}